:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --borda:rgb(224, 224, 224);
  --font-color:rgb(46, 46, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 100vw;
  height: 8vh;
  min-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}


main {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailContent {
  width: 90%;
  height: 92vh;
}

.searchcontent {
  width: 100%;
  height: 20vh;
}

.actionContent {
  width: 100%;
  height: 7vh;
  border: 0.3vh  solid var(--borda);
  color: var(--font-color);
  display: flex;
}

.sell {
  width: 13%;
  height: 100%;
  display: flex;
  gap: 5px;
  border-right: 0.3vh solid var(--borda);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sell:hover {
  background-color: rgb(223, 222, 222);
}

.secHeader {
  width: 100%;
  height: 13vh;
  border-right: 0.3vh  solid var(--borda);
  border-left: 0.3vh  solid var(--borda);
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeadInput {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.SearchHead {
  height: 50%;
  
}

.inputChild {
  width: 50%;
  height: 60%;
  margin-left: 1rem;
}

.SearchHead {
  width: 100%;
  height: 60%;
  background-color: white;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 2vh;
  font-weight: 600;
  margin-left: 1rem;

}

.inputChild {
  width: 85%;
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.headNum {
  margin-left: 4rem;
  width: 30%;
  height: 55%;
  display: flex;
  align-items: center;
  gap:1rem;
}

.ActionIcons {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HandManItems {
  height: 100%;
  width: 14.4%;
  background-color: #f7f2f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  font-size:2.5vh;
  font-weight: 400;
  gap: 0.5rem;
  display: flex;
}

.HandManItemsSec {
  height: 100%;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.Categories {
  width: 100%;
  height: 50vh;
  border: 0.3vh solid var(--borda);
  margin-top: 3vw;
  border-radius: 10px;
}

.title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #362526;
  gap: 59vw;
}

.AnimalIcons {
  width: 100%;
  height: 60%;
  background-color: orange;
}

.ActiveUsers {
  width: 100%;
  height: 20%;
  background-image: url('./assets/ActiveUsers.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}